nav {
  width: 100%;
  padding: 50px 140px;
  font-size: 16px;
  position: absolute;
  top: 0;
  background-color: #ffff;
}
nav .company {
  color: #272044;
  font-weight: bold;
  font-size: 25px;
}

nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272044;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: #662eed;
}

.hero {
  padding: 135px;
  color: #ffff;
  position: relative;
  text-align: center;
}

.title {
  position: absolute;
}

footer {
  padding: 20px;
  position: absolute;
  width: 100%;
  background-color: #f9f7fe;
  margin-top: 73px;
  margin-bottom: 73px;
}

footer .company {
  font-size: 22px;
  font-weight: 700;
}

h1 {
  padding: 155px;
  font-size: 72px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  color: #662eed;
}

.information {
  font-size: 24px;
}
